* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sen, sans-serif;
}

nav {
    width: 100vw;
    height: 55px;
    background-color: rgb(45, 145, 240);
    display: flex;
    justify-content: flex-end;

}

img {
    position: absolute;
    width: 130px;
    margin-left: 5%;
    margin-top: 15px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 7vw;
}

li {
    margin: 7px;
    
}


input {
    height: 30px;
    border: none;
    border-radius: 2px;
    padding-left: 10px;
    /* text-align: ; */
}

button {
    padding: 6.5px 20px;
    background-color: rgb(54, 54, 54);
    color: white;
    border: none;
    font-style: bold;
    font-weight: bold;
}


h2 {
    /* display: none; */
    text-align: center;
}

/* #buttonLogout {
    display: none;
} */